# Server Config
SERVER_PORT={"YOUR SERVER'S PORT"}
SERVER_URL={"YOUR SERVER'S HOST PATH"}

# Prisma
DATABASE_URL={"postgres://postgres.[your-supabase-project]:[password]@aws-0-[aws-region].pooler.supabase.com:6543/postgres?pgbouncer=true"}
DIRECT_URL={"postgres://postgres.[your-supabase-project]:[password]@aws-0-[aws-region].pooler.supabase.com:5432/postgres"}

# Supabase
SUPABASE_URL={"YOUR SUPABASE PROJECT URL"}
SUPABASE_SERVICE_ROLE_KEY={"YOUR SUPABASE ANON KEY"}
SUPABASE_ANON_KEY={"YOUR SUPABASE SERVICE ROLE KEY"}

# General
VERIFICATION_TOKEN={"WHATEVER YOU WANT IT TO BE"}

# Google reCAPTCHA
RECAPTCHA_SECRET_KEY={"YOUR SITE'S SECRET KEY"}

